@page "/"
@using Newtonsoft.Json
@using models

@inject Blazored.LocalStorage.ILocalStorageService LocalStorage

<h1>To do list</h1>
<div>
    <input type="text" @bind="TodoInput">
    <button type="submit" @onclick="AddTodo">Add todo</button>
</div>

@foreach (var todo in Todos)
{
    <TodoItem TodoModel="todo" SaveTodos="@SaveTodos" RemoveTodo="@RemoveTodo"/>
}


@code
{
    public string TodoInput { get; set; }
    public List<Todo> Todos = new List<Todo>();

    protected override async Task OnInitializedAsync()
    {
        Todos = await GetStoredTodosAsync();
    }

    public void AddTodo()
    {
        Todos.Add(new Todo()
        {
            Id = Guid.NewGuid(),
            Text = TodoInput,
            Completed = false
        });
        TodoInput = "";
        SaveTodos();
    }
    public void RemoveTodo(Todo todo)
    {
        Todos.Remove(todo);
        SaveTodos();
    }
    public void SaveTodos()
    {
        LocalStorage.SetItemAsync("SavedTodos", JsonConvert.SerializeObject(Todos));
    }
    private async Task<List<Todo>> GetStoredTodosAsync()
    {
        var storedTodos = await LocalStorage.GetItemAsync<string>("SavedTodos");
        return JsonConvert.DeserializeObject<List<Todo>>(storedTodos);
    }
}
